<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>361220955299-ugv4kf7tr16p03shmskjkpsmlt668hi0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.361220955299-ugv4kf7tr16p03shmskjkpsmlt668hi0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>361220955299-9o04p9ogv89behgtgog48qs0k5a5l10f.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAPA92in1DLaZM1M79Hj4393KorCt8vB5o</string>
	<key>GCM_SENDER_ID</key>
	<string>361220955299</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wechat</string>
	<key>PROJECT_ID</key>
	<string>wechat-5d8bd</string>
	<key>STORAGE_BUCKET</key>
	<string>wechat-5d8bd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:361220955299:ios:3fb3e8eb89b74c32b57316</string>
</dict>
</plist>